.details {
    background: #fff3f3;
    min-height: 100vh;
    .head-details {
        font-family: 'RobotoMedium';
        color: #683b3f;
        font-size: 70px;
        padding-top: 170px;
        text-align: center;
    }
    .city-details {
        margin-top: 40px;
        color: #b87c84;
        font-size: 46px;
        font-family: 'RobotoRegular';
        text-align: center;
    }
    .main-data-details {
        display: flex;
        justify-content: space-between;
        padding: 0 175px;
        margin-top: 84px;
        > div {
            color: #b87c84;
            font-family: 'RobotoRegular';
            font-size: 26.3933px;
        }
    }
    .details-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        > a {
            background: #b87c84;
            border: 5px solid #f0a2ac;
            border-radius: 18px;
            width: 290px;
            height: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 70px;
            font-family: 'RobotoRegular';
            color: #ffffff;
            font-size: 26.3933px;
        }
        > div {
            margin-left: 70px;
            background: #b87c84;
            border: 5px solid #f0a2ac;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 83px;
            height: 82px;
            border-radius: 18px;
        }
    }
    .data-with-img {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        > div {
            margin-right: 100px;
            > p {
                font-family: 'RobotoRegular';
                font-size: 41.7185px;
                color: #000000;
                .green {
                    color: green;
                }
                .red {
                    color: red;
                }
            }
            > div {
                font-family: 'RobotoRegular';
                font-size: 32px;
            }
        }
        > img {
            width: 406.4px;
            height: 254px;
            border: 2.54px solid #f0a2ac;
            border-radius: 6.35px;
            object-fit: cover;
        }
    }
}
