.input-error {
    margin-top: 10px;
    line-height: 14px;
    color: #000;
    font-family: "RobotoRegular";
    display: block;
}

.input-error-edit {
    margin-top: 25px;
    color: #000;
    line-height: 14px;
    font-family: "RobotoRegular";
    display: block;
    text-align: center;
}
