.catalog {
    min-height: 100vh;
    background: #fff3f3;
    .content {
        padding: 0 36px;
        padding-top: 208px;
        display: flex;
        .filters {
            border-radius: 10px;
            background: #ffecec;
            border: 1px solid #b87c84;
            padding: 22px 32px;
            min-width: 264px !important;
            height: 420px;
            .head {
                font-family: 'RobotoRegular';
                color: #000000;
                font-size: 24px;
                border-bottom: 2px solid #b87c84;
                text-align: center;
                padding-bottom: 8px;
            }
        }
        .list {
            flex-wrap: wrap;
            margin-left: 41px;
            display: flex;
            > div {
                margin-bottom: 20px;
            }
        }
    }
}

.select_wrapper_filter {
    width: 100%;
    height: 38px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
