.profile {
    background: #fff3f3;
    min-height: 100vh;
    padding: 0 120px;
    padding-bottom: 100px;
    .cabinet {
        font-family: "RobotoBold";
        font-size: 31.2644px;
        padding-top: 170px;
        color: rgba(180, 126, 131, 1);
        border-bottom: 2px solid #b87c84;
        width: 250px;
    }
    .info {
        display: flex;
        margin-top: 25px;
        padding-bottom: 50px;
        border-bottom: 3px solid #b87c84;
        > img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 5.04px;
        }
        .data {
            margin-left: 23px;
            .name {
                font-family: "RobotoMedium";
                color: rgba(180, 126, 131, 1);
                font-size: 30px;
            }
            .phone {
                margin-top: 20px;
                display: flex;
                align-items: center;
                > span {
                    margin-left: 10px;
                    font-family: "RobotoRegular";
                    color: #b87c84;
                    font-size: 25.3471px;
                }
            }
            .email {
                margin-top: 3px;
                display: flex;
                align-items: center;
                > span {
                    margin-left: 10px;
                    font-family: "RobotoRegular";
                    color: #b87c84;
                    font-size: 25.3471px;
                }
            }
        }
    }

    .my-pets {
        font-family: "RobotoBold";
        color: rgba(180, 126, 131, 1);
        border-bottom: 2px solid #b87c84;
        width: 218px;
        font-size: 32px;
        margin-top: 82px;
    }
    .pets-list {
        margin-top: 30px;
        overflow-y: auto;
        display: flex;
        align-items: center;
    }
    .my-posts {
        font-family: "RobotoBold";
        color: rgba(180, 126, 131, 1);
        border-bottom: 2px solid #b87c84;
        width: 262px;
        font-size: 32px;
        margin-top: 82px;
    }
}

.pet-card {
    margin-right: 20px;
    color: #fff;
    width: 218px;
    height: 312px;
    background: #b87c84;
    border-radius: 15px;
    border: 3px solid #b87c84;
    position: relative;
    margin-bottom: 20px;
    > img {
        width: 218px;
        height: 163px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    .name-type {
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        > span {
            font-family: "RobotoRegular";
            color: #fff;
            &:first-of-type {
                font-size: 20.125px;
            }
            &:last-of-type {
                font-size: 14px;
                margin-top: 4px;
            }
        }
    }
    .breed,
    .color,
    .gender,
    .size,
    .city {
        font-family: "RobotoRegular";
        margin-top: 10px;
        color: #fff;
        font-size: 14.2044px;
        padding: 0px 10px;
    }
    .status {
        position: absolute;
        color: #3b684d;
        font-family: "RobotoRegular";
        top: 20px;
        left: 20px;
        z-index: 999;
    }
}
