.auth-background {
    background: center / cover no-repeat fixed
        url("../../../assets/images/auth-bg.png");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    position: relative;
    color: #fff;
    width: 400px;
    border: 5px solid #b87c84;
    box-shadow: 0px 8px 16px rgba(48, 49, 51, 0.16);
    border-radius: 20px;
    background: rgba(94, 49, 46, 0.61);
    padding: 44px 80px;
    @media screen and (max-width: 1440px) {
        padding: 20px 80px;
    }
    &-title {
        font-family: "RobotoBold";
        font-size: 56px;
    }
    &-input {
        width: 100%;
        padding-top: 20px;
        > div {
            width: 100%;
            > div {
                width: 100%;
            }
        }
    }
    &-btn {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        font-family: "RobotoMedium";
        font-size: 20px;
        background-color: #3f51b5;
        border-radius: 6px;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
    }
    &-btn:hover {
        color: #3f51b5;
        background-color: #fff;
        border: 1.5px solid #3f51b5;
    }
    &-login {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 23px;
        font-size: 20px;
        &-text {
            font-family: "RobotoRegular";
        }
        &-link {
            font-family: "RobotoMedium";
            color: #d0ba5e;
            margin-top: 5px;
        }
    }
}
