.select_wrapper {
    width: 100%;
}

.select_component {
    height: 50px;
    width: 100%;
    &.select--is-disabled {
        cursor: not-allowed !important;
    }
    & ~ .date_wrapper {
        margin-left: 20px;
    }
    .select__control {
        box-sizing: border-box;
        border-radius: 6px;
        padding: 0 12px;

        height: 100%;
        background-color: #ffffff;
        color: #221e1f !important;
        font-family: 'RobotoMedium', sans-serif !important;
        font-size: 16px;
        border: 1px solid #cfd8dc;
        &:hover {
            cursor: pointer;
            border: 1px solid #cfd8dc !important;
        }
        .select__placeholder {
            color: rgba(2, 0, 24, 0.5);
            font-family: 'RobotoRegular' !important;
            font-size: 16px;
            padding-left: 13px;
            margin: 0 !important;
        }

        .select__value-container {
            padding: 0 !important;
            height: 100% !important;
            display: flex !important;
            align-items: center !important;
        }

        .select__single-value {
            color: #383838;
            margin: 0 !important;
            font-size: 16px;
            padding-left: 0px !important;
            font-family: 'RobotoMedium' !important;
            padding-left: 12px !important;
        }
        .select__indicators {
            > div {
                padding: 0 !important;
            }
        }
        .select__indicator-separator {
            background: none;
        }
        .select_indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                transition: all 0.3s linear;
            }
        }
    }
    .select__control--is-focused {
        box-shadow: none;
        //border: 1px solid #020018!important;
        &:hover {
            //border: 1px solid #020018!important;
        }
        .indicator_active {
            img {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
    .select__menu {
        z-index: 9999;
        border-radius: 4px !important;
        background-color: #ffffff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        border: none !important;
        margin-top: 2px !important;
        .select__menu-list {
            font-size: 14px;
            max-height: 116px;
            font-family: 'RobotoRegular', sans-serif !important;
            color: #020018;
            background: transparent;
            .select__option {
                padding: 10px 24px;
                background: transparent;
                color: rgba(2, 0, 24, 0.5);
                cursor: pointer;
                transition: all 0.3s linear;
                &:hover {
                    color: #020018;
                }
            }
            .select__option--is-selected {
                color: #020018;
                font-family: 'RobotoRegular', sans-serif !important;
                background-color: #ffffff;
            }
            .status_select {
                padding: 0 12px;
                display: flex;
                align-items: center;
                background: transparent;
                &:hover {
                    background: transparent;
                }
            }
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                -webkit-border-radius: 2px;
                background: #ffffff;
            }
            &::-webkit-scrollbar-thumb {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background: rgba(132, 148, 185, 0.3);
            }
            &::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(132, 148, 185, 0.3);
            }
        }
    }
    input {
        height: unset;
        line-height: 50px;
    }
    input::placeholder {
        min-height: 100%;
        line-height: 50px;
    }
}
