.home-page {
    .home-first-part {
        height: 100vh;
        background: center / cover no-repeat fixed
            url('../../../assets/images/home-bg.jpg');
        > p {
            font-family: 'RobotoRegular';
            font-size: 38px;
            color: #000;
            width: 780px;
            padding-top: 190px;
            padding-left: 42px;
            > span {
                color: #b87c84;
                font-size: 48px;
            }
            @media screen and (max-width: 1440px) {
                font-size: 30px;
                > span {
                    font-size: 36px;
                }
            }
        }
        .counter {
            margin: 40px auto 0px;
            padding: 12px 28px;
            display: flex;
            flex-direction: column;
            width: 450px;
            height: 240px;
            align-items: center;
            justify-content: space-between;
            background: rgba(133, 108, 105, 0.73);
            border: 3px solid #b87c84;
            backdrop-filter: blur(15px);
            border-radius: 59.457px;
            @media screen and (max-width: 1440px) {
                height: 200px;
            }
            > div {
                display: flex;
                justify-content: space-between;
                .amount-saved {
                    width: 73px;
                    height: 73px;
                    background: #b47e83;
                    border: 4.29809px solid #f0a2ac;
                    backdrop-filter: blur(2.8654px);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 7px;
                    color: #fff;
                    font-family: 'RobotoRegular';
                    font-size: 35.8174px;
                    &:last-of-type {
                        margin-right: 0px;
                    }
                }
            }
            .already-found {
                font-family: 'RobotoBold';
                font-size: 50.1444px;
                color: #ffffff;
                @media screen and (max-width: 1440px) {
                    font-size: 34px;
                }
            }
            .your-pets {
                font-family: 'RobotoRegular';
                font-size: 26.7589px;
                color: #ffffff;
                margin-bottom: 30px;
            }
        }
        .home-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 65px;
            @media screen and (max-width: 1440px) {
                margin-top: 40px;
            }
            > div {
                background: rgba(133, 108, 105, 0.82);
                border: 12px solid #b87c84;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(20px);
                border-radius: 100px;
                padding: 32px 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                font-family: 'RobotoRegular';
                font-size: 30px;
                margin-right: 25px;
                transition: all 0.6s;
                cursor: pointer;
                &:hover {
                    color: #b87c84;
                    background: #fff;
                    border: 12px solid rgba(133, 108, 105, 0.82);
                }
            }
        }
    }
    .home-second-part {
        height: 100vh;
        background: #b47e83;
        position: relative;
        .home-head {
            display: block;
            margin: 0 auto;
            padding-top: 25px;
        }
        .afraid {
            margin-top: 22px;
            font-family: 'RobotoMedium';
            font-size: 52.6725px;
            color: #ffffff;
            text-align: center;
            @media screen and (max-width: 1440px) {
                font-size: 40px;
            }
        }
        .garant {
            font-size: 46.4758px;
            font-style: italic;
            font-family: 'RobotoRegular';
            color: #ffffff;
            width: 950px;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
            line-height: 54px;
            @media screen and (max-width: 1440px) {
             font-size: 38px;   
            }
        }
        .own-pet {
            font-family: 'RobotoRegular';
            font-size: 46.4758px;
            line-height: 54px;
            text-align: center;
            margin: 0 auto;
            margin-top: 57px;
            color: #ffffff;
            width: 1000px;
            @media screen and (max-width: 1440px) {
                font-size: 36px;
                margin-top: 24px;
            }
        }
        .reg-pet {
            background: rgba(247, 213, 0, 0.56);
            border: 5.30833px solid #ffffff;
            border-radius: 43.5283px;
            width: 637px;
            height: 127.4px;
            margin: 0 auto;
            margin-top: 50px;
            font-family: 'RobotoRegular';
            font-size: 37.1583px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.6s;
            @media screen and (max-width: 1440px) {
                font-size: 28px;   
                height: 110px;
            }
            > svg {
                margin-left: 19px;
            }
            &:hover {
                color: rgba(247, 213, 0, 0.56);
                background-color: #fff;
                border: 5.30833px solid rgba(247, 213, 0, 0.56);
                > svg {
                    > path {
                        fill: rgba(247, 213, 0, 0.56);
                    }
                }
            }
        }
    }
}

.link-catalog {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background: rgba(184, 124, 132, 0.72);
    border: 5.52381px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    width: 155px;
    height: 155px;
    transition: all 0.6s;
    > p {
        margin-top: 15px;
        &:last-of-type {
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }
    &:hover {
        background-color: #fff;
        border: 5.52381px solid rgba(184, 124, 132, 0.72);
        color: rgba(184, 124, 132, 0.72);
        .filll {
            path {
                fill: rgba(184, 124, 132, 0.72);
            }
        }
    }
}

.reset {
    font-family: 'RobotoRegular';
    text-align: center;
    margin-top: 10px;
}
