.upload {
    margin-top: 15px;
    margin-left: 15px;
    padding: 18.5px 14px;
    color: #fff;
    border: 5px solid #b87c84;
    box-shadow: 0px 8px 16px rgba(48, 49, 51, 0.16);
    border-radius: 20px;
    background: rgba(94, 49, 46, 0.61);
    width: 385px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.form-btn {
    display: block;
    margin: 0 auto;
    background: rgba(133, 108, 105, 0.82);
    border: 5.536px solid #b87c84;
    box-shadow: 0px 1.84533px 1.84533px rgba(0, 0, 0, 0.25);
    width: 173px;
    height: 55.36px;
    margin-top: 7px;
    border-radius: 46.1333px;
    font-family: 'RobotoMedium';
    color: #fff;
    transition: all 0.6s;
    &:hover {
        background: #fff;
        border: 5.536px solid rgba(133, 108, 105, 0.82);
        color: #b87c84;
    }
}
