button,
button:active,
button:focus {
    outline: none;
}

.auth-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: #b87c84;
    transition: all 0.6s;
    outline: none !important;

    &:hover {
        cursor: pointer;
        background: #fff;
        border: 4px solid #b87c84;
        path {
            fill: #b87c84;
        }
    }
}

.auth-btn-wrapper {
    outline: none !important;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
