.Toastify {
    &__toast {
        border-radius: 8px !important;
        &-container {
            z-index: 140 !important;
        }
        &-body {
            font-family: "RobotoMedium";
            font-weight: 550;
            font-size: 16px;
            color: #221e1f;
        }
    }
    &__progress-bar {
        background: #b87c84 !important;
    }
}

.main-error {
    margin-top: 30px;
    text-align: center;
    color: #000;
    font-family: "RobotoRegular";
    display: block;
}

.MuiFormLabel-root.Mui-focused {
    color: #fff !important;
}
.MuiOutlinedInput-input {
    color: #fff !important;
}
.MuiInputLabel-outlined {
    color: #fff !important;
    font-family: "RobotoRegular" !important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: #b87c84 !important;
    background-color: rgba(196, 196, 196, 0.28) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #b87c84 !important;
}
