header {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 20px;
    .logo {
        font-family: 'Pacifico';
        font-size: 68px;
        color: #b87c84;
        margin-left: 45px;
    }
    .bage {
        width: 250px;
        height: 100px;
        background: #e6d97f;
        border-radius: 69.0333px;
        border: 5px solid #b87c84;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > div {
            margin-bottom: 5px;
        }
        &-first {
            font-size: 29px;
            font-family: 'RobotoRegular';
            color: #b87c84;
        }
        &-second {
            font-family: 'Pacifico';
            font-size: 29px;
            color: #b87c84;
            margin-left: 5px;
        }
    }
    .login-redirect {
        background: rgba(133, 108, 105, 0.82);
        border: 6.08px solid #b87c84;
        box-shadow: 0px 2.02667px 2.02667px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10.1333px);
        border-radius: 50.6667px;
        font-family: 'RobotoRegular';
        font-size: 36px;
        color: #ffffff;
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 45px;
        cursor: pointer;
        transition: all 0.6s;
        &:hover {
            color: #b87c84;
            background: #fff;
            border: 6.08px solid rgba(133, 108, 105, 0.82);
        }
    }
    .post-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
            background: rgba(133, 108, 105, 0.82);
            border: 5.536px solid #b87c84;
            box-shadow: 0px 1.84533px 1.84533px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(9.22667px);
            border-radius: 46.1333px;
            font-family: 'RobotoRegular';
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px 18px;
            color: #fff;
            font-size: 16px;
            transition: all 0.6s;
            cursor: pointer;
            &:first-of-type {
                margin-right: 10px;
            }
            &:hover {
                color: #b87c84;
                background: #fff;
                border: 5.536px solid rgba(133, 108, 105, 0.82);
            }
        }
    }
}
